[Unit]
Description=Run World State Cold Archive Upload daily

[Timer]
OnCalendar=*-*-* 03:25:00 UTC
RandomizedDelaySec=20min
Persistent=true

[Install]
WantedBy=timers.target
